# Required, remove render api key if you're not using render

SESSION_ID=your-session-id-from-kord.live/session
OWNER_NUMBER=2990168481362
WORKTYPE=private
PREFIX=[']
TIMEZONE=Africa/Lagos
OWNER_NAME=Chacha 
BOT_NAME=Lowen_bot
RENDER_API_KEY=your-render-api-key
